{% extends 'base.html' %}
{% block title %}Categories{% endblock %}
{% block content %}
    {% if categories_with_scores %}
        {% for key, value in categories_with_scores.items() %}
            <article class="{{ 'negative' if key.is_negative else '' }}">
                <h2>{{ key.name }}</h2>
                <ol type="1">
                    {% for score in value %}
                    <li id="{{ score.thing_name }}">
                        <p> {{ score.thing_name }} </p>
                        <p> {{ score.num_votes }} </p>
                        <img src='{{ url_for("static", filename="assets/images/up_arrow_white.png") }}' width="10" height="10">
                    </li>
                    {% endfor %}
                </ol>
            </article>
        {% endfor %}
    {% else %}
        <p>No categories found.</p>
    {% endif %}
{% endblock %}