{% extends 'base.html' %}
{% block title %}Thing{% endblock %}
{% block file_links %}
    <script type='module' src='{{ url_for("static", filename="scripts/upvote.js") }}'></script>
{% endblock %}
{% block content %}
    {% if thing %}
        <section class="thing-detail">
            <h2>{{ thing.name }}</h2>
            {% if thing.from_thing_name %}
                <p class="thing-from">from {{ thing.from_thing_name }}</p>
            {% endif %}
            {% if thing.img_path %}
                <img src="{{ thing.img_path }}" alt="{{ thing.name }}" class="thing-image" />
            {% endif %}
        </section>

        <section class="thing-scores">
            <h3>Scores</h3>
            {% if thing_scores %}
                <table class="leaderboard">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Category</th>
                            <th>Votes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in thing_scores %}
                            <tr data-category-name="{{ score.category_name }}">
                                <td>{{ score.rank_text }}</td>
                                <td><a href="{{ url_for('show_category', name=score.category_name) }}">{{ score.category_name }}</a></td>
                                <td class="vote-count">{{ score.num_votes }}</td>
                                <td>
                                    <button class="upvote_button" data-category="{{ score.category_name }}" data-thing="{{ thing.name }}">
                                        <img
                                            src='{{ url_for("static", filename="assets/images/"
                                                + ("up_arrow_green.png" if score.category_name in current_user_votes and current_user_votes[score.category_name] == thing.name else "up_arrow_white.png")
                                                ) }}'
                                            width="10" height="10" class="upvote_img">
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This thing does not yet have any scores.</p>
            {% endif %}
        </section>
    {% else %}
        <p>Thing not found.</p>
    {% endif %}
{% endblock %}
