{% extends 'base.html' %}
{% from 'partials/thing_cards.html' import render_thing_card %}
{% block title %}Things{% endblock %}
{% block file_links %}
    <script type='module' src='{{ url_for("static", filename="scripts/upvote.js") }}'></script>
{% endblock %}
{% block content %}
    <h2>All Things</h2>
    {% if things_with_scores %}
        <ul class="things-list">
            {% for entry in things_with_scores %}
                {{ render_thing_card(entry, current_user_votes, card_class='thing-list-card') }}
            {% endfor %}
        </ul>
    {% else %}
        <p>No things yet.</p>
    {% endif %}
{% endblock %}
