{% extends 'base.html' %}
{% block title %}Things{% endblock %}
{% block file_links %}
    <script type='module' src='{{ url_for("static", filename="scripts/upvote.js") }}'></script>
{% endblock %}
{% block content %}
    <h2>{% if search_query %}Matching Things{% else %}All Things{% endif %}</h2>
    {% if search_query %}
        <p>Showing results for "{{ search_query }}".</p>
    {% endif %}
    {% if things %}
        <ul class="things-list">
            {% for thing in things %}
            <li>
                <a href="{{ url_for('show_thing', name=thing.name) }}">{{ thing.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No things found.</p>
    {% endif %}
{% endblock %}
